{{!-- <div class="container p-4">
    <h3>Mantenimientos de la computadora {{comp.codigo}}</h3>
    <div class="row">
        {{#each unkeep}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{tipo}}
                    </h3>
                    <p class="m-2">{{descripcion}}</p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aún no tienes ninguna mantenimiento</p>
                <a href="/lab/addunkeep/{{comp.id}}">Agrega algunos</a>
            </div>
        </div>
        {{/each}}
    </div><br>
    <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
            <h3 class="text-center">Agregar...  <a href="/lab/addunkeep/{{comp.id}}"><i class="fas fa-plus-circle"></i></a></h3>
        </div>
    </div>
</div> --}}

<div class="home-content">
    <h1 class="text-center">Mantenimientos de la computadora {{comp.codigo}}</h1><br><br>
    <div class="overview-boxes">
    {{#each unkeep}}
      <div class="box">
        <div class="right-side">
            <div class="number">{{tipo}}</div>
            <div class="indicator">
              <span class="text">{{descripcion}}</span>
            </div>
        </div>
      </div>
    {{/each}}
    </div>
    <div class="overview-boxes text-center">
      <div class="box">
        <div class="right-side">
            <div class="number">Agregar...</div>
        </div>
        <a href="/lab/addunkeep/{{comp.id}}"><i class='bx bx-plus cart two'></i></a>
      </div>
    </div>
</div>